.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    width: 90%;
    height: auto;
    min-height: 100px;
    margin: auto;
    border: 1px solid black;
    background-color: #dfdfe5;
    line-height: 2em;
    position: relative;
}

.button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
}

/* Table Styling */

table {
    width: 100%;
}

th {
    height: 50px;
}

#date {
    text-align: right;
}
